global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

listen admin 0.0.0.0:8090
    mode http
    stats enable
    stats uri /haproxy?stats
    stats realm Strictly\ Private
    stats auth admin:admin

frontend web-frontend
    bind *:8080
    mode http

    default_backend web-backend

backend web-backend
    mode http
    balance roundrobin
    option httpclose
    option forwardfor
    server node1 node1:80 check
    server node2 node2:80 check
